# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Environment Variables
.env*.local
.env
.env.test
.env-backups/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Local Supabase
.temp

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# Supabase
**/supabase/.branches
**/supabase/.temp
**/supabase/.env
!supabase/migrations/

# IDE
.vscode/
.idea/ 
# Sensitive files
gmail-pubsub-key.json
.env.production
